<section id="addRoomsection">
    <center>
        <h1>เพิ่มห้องพัก</h1>
        เลขที่ห้อง
        <input type="text" id="num_room" />
        <br> <br> ประเภทห้อง
        <select id="type_room"></select>
        <br> <br> ชั้นที่
        <input type="text" id="room_floor" />
        <br><br> วิว
        <input type="text" id="view" />
        <br><br>
        <button onclick="add_room()">บันทึก</button>
        <button onclick="cancle_add_room()"> ยกเลิก</button>
    </center>
</section>