<section id="addTypesection">
    <center>
        <h1>เพิ่มประเภทห้อง</h1>

        ชื่อประเภทห้อง
        <input type="text" id="add_name_th" />
        <br/>
        <br/> ชื่อประเภทห้องภาษาอังกฤษ
        <input type="text" id="add_name" />
        <br/><br/> ราคา
        <input type="text" id="add_price" />
        <br/><br/> ขนาดห้อง
        <input type="text" id="add_size" />
        <br/>
        <br/>ประเภทเตียง
        <select name="add_bed" id="add_bed">
            <option value="เตียงเดี่ยว">เตียงเดี่ยว</option>
            <option value="เตียงคู่">เตียงคู่</option>
        </select>
        <br>
        <br> คำอธิบายเพิ่มเติม
        <br/>

        <textarea name="add_rm_dct" id="add_rm_dct" cols="30" rows="10"></textarea>


        <table id="facilities">
            <tr>
                <td>สิ่งอำนวยความสะดวก</td>
                <td>
                    <input type="checkbox" name="add_ex_bed" id="add_ex_bed" />
                    <label for="add_ex_bed">เตียงเสริม</label>
                </td>
                <td>
                    <input type="checkbox" name="add_wifi" id="add_wifi" />
                    <label for="add_wifi">WIFI</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="add_breakfast" id="add_breakfast" />
                    <label for="add_breakfast">อาหารเช้า</label>
                </td>
                <td>
                    <input type="checkbox" name="add_air_con" id="add_air_con" />
                    <label for="add_air_con">แอร์</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="add_tv" id="add_tv" />
                    <label for="add_tv">ทีวี</label>
                </td>
                <td>
                    <input type="checkbox" name="add_bath" id="add_bath" />
                    <label for="add_bath">อ่างอาบน้ำ</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="add_minifridge" id="add_minifridge" />
                    <label for="add_minifridge">ตู้เย็น</label>
                </td>
                <td>
                    <input type="checkbox" name="add_fitness" id="add_fitness" />
                    <label for="add_fitness">Fitness</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="add_pool" id="add_pool" />
                    <label for="add_pool">สระว่ายน้ำ</label>
                </td>
                <td>
                    <input type="checkbox" name="add_bar" id="add_bar" />
                    <label for="add_bar">Bar</label>
                </td>
            </tr>
        </table>

        เลือกรูปภาพ
        <input type="file" id="fileInput" multiple="multiple" />
        <div id="imageContainer"></div>
        <div id="fileNamesContainer"></div>
        <br/>
        <button id="add_save">บันทึก</button>
        <button id="add_cancle">ยกเลิก</button>
    </center>

    <script>
        document.getElementById('add_cancle').onclick = () => {
            showSection('Typesection')
            window.location.hash = "Typesection";
            document.getElementById('add_name_th').value = ''
            document.getElementById('add_name').value = ''
            document.getElementById('add_price').value = ''
            document.getElementById('add_rm_dct').value = ''
            document.getElementById('add_size').value = ''


            document.getElementById('add_ex_bed').checked = false
            document.getElementById('add_wifi').checked = false
            document.getElementById('add_breakfast').checked = false
            document.getElementById('add_air_con').checked = false
            document.getElementById('add_tv').checked = false
            document.getElementById('add_bath').checked = false
            document.getElementById('add_minifridge').checked = false
            document.getElementById('add_fitness').checked = false
            document.getElementById('add_pool').checked = false
            document.getElementById('add_bar').checked = false
        }

        document.getElementById('add_save').onclick = () => {
            Swal.fire({
                title: 'ยืนยันการเพิ่มประเภทห้อง',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {

                    var add_name_th = document.getElementById('add_name_th').value
                    var add_name = document.getElementById('add_name').value
                    var add_price = document.getElementById('add_price').value
                    var add_size = document.getElementById('add_size').value
                    var add_bed = document.getElementById('add_bed').value
                    var add_rm_dct = document.getElementById('add_rm_dct').value

                    var add_ex_bed = Number(document.getElementById('add_ex_bed').checked)
                    var add_wifi = Number(document.getElementById('add_wifi').checked)
                    var add_breakfast = Number(document.getElementById('add_breakfast').checked)
                    var add_air_con = Number(document.getElementById('add_air_con').checked)
                    var add_tv = Number(document.getElementById('add_tv').checked)
                    var add_bath = Number(document.getElementById('add_bath').checked)
                    var add_minifridge = Number(document.getElementById('add_minifridge').checked)
                    var add_fitness = Number(document.getElementById('add_fitness').checked)
                    var add_pool = Number(document.getElementById('add_pool').checked)
                    var add_bar = Number(document.getElementById('add_bar').checked)

                    fetch("/add_roomtype", {
                        method: "post",
                        headers: {
                            Accept: "application/json",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            add_name_th,
                            add_name,
                            add_price,
                            add_size,
                            add_bed,
                            add_rm_dct,
                            add_ex_bed,
                            add_wifi,
                            add_breakfast,
                            add_air_con,
                            add_tv,
                            add_bath,
                            add_minifridge,
                            add_fitness,
                            add_pool,
                            add_bar
                        })
                    }).then((response) => response.json()).then((body) => {
                        Swal.fire({
                            icon: 'success',
                            title: 'เพิ่มข้อมูลแล้ว',
                            showConfirmButton: false,
                            timer: 1500,
                            didClose: () => {
                                location.reload();
                            }
                        });
                    });
                }
            })
        }
    </script>


</section>