<!-- confirmModal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-content-fit">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ข้อมูลเพิ่มเติม</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>ข้อมูลลูกค้า</h5>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td class="align-middle">
                                <label for="his_cus_id">รหัสลูกค้า</label>
                            </td>
                            <td class="align-middle">
                                <input type="text" name="his_cus_id" id="his_cus_id" readonly></td>
                            <td class="align-middle">
                                <label for="his_f_name">ชื่อ-นามสกุล</label>
                            </td>
                            <td class="align-middle">
                                <input type="text" name="his_f_name" id="his_f_name" readonly></td>
                            <td class="align-middle">
                                <label for="his_card_num">เลขบัตรประชาชน</label>
                            </td>
                            <td class="align-middle">
                                <input type="text" name="his_card_num" id="his_card_num" readonly></td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                <label for="his_p_num">เบอร์โทรติดต่อ</label>
                            </td>
                            <td class="align-middle">
                                <input type="text" name="his_p_num" id="his_p_num" readonly></td>
                            <td class="align-middle">
                                <label for="his_email">Email</label>
                            </td>
                            <td class="align-middle">
                                <input type="text" name="his_email" id="his_email" readonly></td>
                        </tr>
                    </table>
                    <h5>ข้อมูลห้องพัก</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- historyModal -->
<div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historyModalLabel">History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Modal body text goes here.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>