<section id="rooms_cleaning">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>NumRoom</th>
                    <th>Floor</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% list_roomcleaning.forEach(function(room) { %>
                    <tr>
                        <td><%= room.num_room %></td>
                            <td><%= room.floor %></td>
                                <td><%= room.status %></td>
                                    <td><button class="btn btn-primary">View
                                            Details</button></td>
                                </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>



                    </section>
